src/main/resources/META-INF/persistence.xml
src/main/resources/META-INF/spring/*.properties
src/main/resources/log4j.properties
*.log
*.roo
mds_*.zip
target/
.classpath
.project
.settings
.springBeans
