/* DataCite color:
  dark blue:  #0094CF
  light blue: #77C9EA
*/

/* main elements */

body,div,td {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
}

body {
	background-color: #fff;
	text-align: center;
}

#header {
	margin-bottom: 1em;
}

#wrapper {
    /* width:800px; */
	min-width: 1000px;
	/* max-width: 800px; */
	margin-right: auto;
	margin-left: auto;

	/* fix max-width incompatibility in IE6/IE7 */
	width:expression(document.body.clientWidth < 1000? "1000px": "auto" );
	
	overflow:hidden;
	display:block;
}

/* header and footer elements */

#title a {
    font-size: 50px;
    color: #0094CF;
    text-decoration: none;
}

#title small {
    color: #77C9EA;
}

#title img
{
    vertical-align: middle;
}

#title {
    float:left;
}

#topmenu {
    text-align: right;
}

#topmenu form {
    display: inline;
    padding: 0px;
}

#topmenu label {
    float:none;
    margin-right:5px;
}

#widget_form_switch_user_select {
    width:150px !important;
}

#main {
	overflow:hidden;
	display:box;
}

#menu {
    background: #eee;
  	position:relative;
  	float:left;  	
  	left:0px;
  	width:220px;
  	margin-right:15px;
}

#menu ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

#menu ul li{
	padding: 0px;
}


#menu a, #menu h2 {
	display: block;
	margin: 0;
	padding: 2px 6px;
	color:#FFFFFF;
}

#menu h2 {
	color: #0094CF;
    text-transform: capitalize;
	font-weight:bold;
	font-size: 12px;
}

#menu a {
	color: #666666;
	background: #efefef;
	text-decoration: none;
	padding: 2px 12px;
}

#menu a:hover {
	color: #0072CC;;
	background: #77C9EA;
}

#footer {
	background:#fff;
	border:none;
	margin-top:15px;
	border-top:1px solid #999999;
}

#footer .new {
	float:left;
}

#footer a:link {color: #0072CC;}

.quicklinks {
	clear:both; 
	padding-bottom: 15px
}
.quicklinks span {
	float: right;
}

table.navigation {
	border: 0px;
}

label {
	width:150px;
	float:left;
	margin-left: 5px;
	margin-top: 0px;
	margin-bottom: 10px;
}

.indent label {
    width:130px;
    margin-left: 25px;
}

input {
	height:20px;
}

input, textarea, select {
	border:1px solid #B3B3B3;
}

input.image {
	border: none;
	height: auto;
}

submit {
	height:25px;
}

div {
	text-align: left;
}

div .box {
	display:block;
	margin-left:155px;
}

/* menu elements*/

a.menu, a.menu:link, a.menu:visited {display:block; width:150px; height:25px;} 
	
/* text styles */

h1,h2,h3 {
	font-family: Helvetica, sans-serif;
	color: #0094CF;
}

h1 {
	font-size: 20px;
	line-height: 26px;
}

h2 {
	font-size: 18px;
	line-height: 20px;
}

h3 {
	font-size: 15px;
	line-height: 21px;
	color:#555;
}

h4 {
	font-size: 14px;
	line-height: 20px;
}

.errors {
	color: red;
	font-weight: bold;
	display: block;
	margin-left: 155px;
}

a {
	text-decoration: underline;
	font-size: 12px;
}

a img {
	border: 0 none;
	vertical-align: middle;
}

tr:nth-child(odd) {
	background-color: #FFFFFF;
}

tr:nth-child(even) {
	background-color: #EFEFEF;
}

a:link {
	color: #0094CF;
}

a:active {
	color: #0094CF;
}

a:visited {
	color: #0094CF;
}

a:hover {
	color: #77C9EA;
}

li {
	padding-top: 5px;
	text-align: left;
}

ul li {
	margin:0 0 0.25em 0;
	padding:0;
}
/* table elements */

table {
	background: #EEEEEE;
	margin: 2px 0 0 0;
	border: 1px solid #BBBBBB;
	border-collapse: collapse;
	/*width: 100%*/
}

table table {
	margin: -5px 0;
	border: 0px solid #e0e7d3;
	width: 100%;
}

table td,table th {
	padding: 2px;
	border: 1px solid #CCCCCC;
}

table td form {
	text-align:center;
	vertical-align: middle;
	margin: 0px;
}

table th {
	font-size: 0.9em;
	text-align: left;
	font-weight: bold;
	color: #FFF;
	background: #999;
}

table thead {
	font-weight: bold;
	font-style: italic;
	background-color: #BBBBBB;
}

table a:link {color: #303030;}

caption {
	caption-side: top;
	width: auto;
	text-align: left;
	font-size: 12px;
	color: #848f73;
	padding-bottom: 4px;
}

fieldset {
	background: #e0e7d3;
	padding: 8px;
	padding-bottom: 22px;
	border: none;
	width: 560px;
}

fieldset label {
	width: 70px;
	float: left;
	margin-top: 1.7em;
	margin-left: 20px;
}

fieldset textfield {
	margin: 3px;
	height: 20px;
	background: #e0e7d3;
}

fieldset textarea {
	margin: 3px;
	height: 165px;
	background: #e0e7d3;
}

fieldset input {
	margin: 3px;
	height: 20px;
	background: #e0e7d3;
}

fieldset table {
	width: 100%;
}

fieldset th {
	padding-left: 25px;
}

.table-buttons {
	background-color:#fff;
	border:none;
}

.table-buttons td {
	border:none;
}

.submit input {
	border: 1px solid #BBBBBB;
	color:#777777;
	padding:2px 7px;
	font-size:11px;
	text-transform:uppercase;
	font-weight:bold;
	height:24px;
}

.updated {
	background:#ecf1e5;
	font-size:11px;
	margin-left:2px;
	border:4px solid #ecf1e5;
}

.updated td {
	padding:2px 8px;
	font-size:11px;
	color:#888888;
}

.dijitTextArea{
    min-height:5.5em !important;
    max-height:22em !important;
    overflow-y: auto !important;
    max-width: 175px;
}

.RichTextEditable{
    min-height:18em !important;
    max-height:18em !important;
}

.flag {
	height: 11px;
	width: 16px;
}

.dijitTextBox, .dijitComboBox, .dijitSpinner, .dijitTextArea {
    width: 270px;
    max-width: 270px;
    padding: 0px !important;
}

.dijitTextBox, .dijitComboBox, .dijitSpinner, .dijitTextArea, select {
    font-family: monospace !important;
    font-size: 12px;
    color: #666666;
}

.dijitTextArea {
    min-width: 270px;
    max-width: 580px;
    max-width: -moz-calc(100% - 160px);
    max-width: -webkit-calc(100% - 160px);
    max-width: calc(100% - 160px);
}

.dijitDateTextBox {
    width: 100px !important;
}

table th.icon_column {
	width: 20px;
}

.formUpload div {
    border: 0px !important;
}

br {
    clear: both;
}

.fieldComment {
    width: 440px;
    margin-left: 20px;
    margin-top: -4px;
}

.dijitArrowButton {
    height: 20px !important;
}

code {
    background: #EEEEEE !important;
}

.codebox {
    border: 1px solid lightgray;
    background: #EEEEEE;
    padding-left: 10px;
}

p.indent {
    padding-left: 20px;
}

#toc {
    float: right;
    width: 200px;
    border: 1px solid lightgrey;
    padding: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.toc-heading {
    color: #0094CF;
    font-size: 18px;
    margin-bottom: 12px;
}

#toc ul {
    padding-left: 20px;
    margin: 0px;
}

.toc-h2 {
    margin-left: 15px;
}

.toc-h3 {
    margin-left: 30px;
}

.toc-h4 {
    margin-left: 45px;
}

/* allow wrapping of pre formatted text */
pre {
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}

/* hide tabstrip cause it is not rendered properly 
   (maybe due to our style-sheet?) */
.tabStripButton { 
    display: none
}

/* twosided multiselect */

.tsmswrapper {
    float: left;
}

.tsmsselect {
    width: 270px;
    float: left;
}

.tsmsselect select {
    width: 100%;
}

.tsmsoptions {
    width: 25px;
    float: left;
}

.tsmsoptions p {
    margin: 2px;
    text-align: center;
    font-size: larger;
    cursor: pointer;
}

.tsmsoptions p:hover {
    color: White;
    background-color: Silver;
}
                
.box ul {
    margin: 0px;
    padding-left: 20px;
}
           
label:not([title=""]), th:not([title=" "]) {
    cursor: help;
}

label:not([title=""]) span {
    border-bottom: thin dotted black;
}

select#prefixes, select#prefixestsms {
    height: 150px;
}

